@page "{handler?}"
@model OTA.Pages.FourthProcessPageModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!-- dynamic values
    1. expiration date
    2. generated code
    2. titles and prices in the price section except fee and total price(=title only)-->
<main class="d-flex justify-content-center mt-3">
    <div class="col border rounded-3 p-3 col-md-7 col-xl-6">
        <div class="d-flex flex-column">
            <div class="fs-1 fw-bold">
                Over the counter
            </div>
            <div class="d-flex flex-column">
                <div>
                    <img src="~/misc/images/as_contents/seven_eleven.png" class="w-25">
                </div>
                <span class="fw-bold">Payment instruction</span>
                <ol>
                    <li>Click pay</li>
                    <li>Get payment code</li>
                    <li><span class="my-fs-small text-black-50">Expiration Date</span> @Model.ExpirationDate</li> <!-- dynamic value -->
                    <li>Bring the code to the counter you choose</li>
                    <li>Pay with the exact amount</li>
                </ol>
            </div>
            <div class="row row-cols-2 gy-3">
                <div class="col my-fs-small">@Model.CheckedBagCount Checked baggage</div>
                <div class="col-auto my-fs-small">₱ @Model.PriceInfo.CheckedBags</div>
                <div class="col my-fs-small">@Model.CabinBagCount Cabin baggage</div>
                <div class="col my-fs-small">₱ @Model.PriceInfo.CabinBags</div>
                <div class="col my-fs-small">Fee for processing input</div>
                <div class="col my-fs-small">₱ @Model.Fee</div>
                <div class="col fs-2">Total price</div>
                <div class="col fs-2">₱ @Model.PriceInfo.TotalPrice</div>
            </div>
            <div class="d-flex mt-2">
                <button class="btn border rounded bg-secondary-cs text-white flex-fill" type="button"
                    data-bs-toggle="modal" data-bs-target="#generated_code">Pay</button>
            </div>
        </div>
    </div>
</main>

<div class="modal fade" tabindex="-1" id="generated_code">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column p-3">
                    <span class="fs-3 fw-bold">Your generated code</span>
                    <span class="fs-3">@Model.GeneratedCode</span>
                    <span class="fs-3 fw-bold">The expiration date of your code</span>
                    <span class="fs-5">@Model.ExpirationDate</span>
                </div>
            </div>
            <div class="modal-footer">
                <form asp-page-handler="done" method="post">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button class="btn bg-secondary-cs text-white" type="submit">
                        Done
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>